<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626503496187-pneti15mm653acbbaqinq5n4bqib0qkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626503496187-pneti15mm653acbbaqinq5n4bqib0qkb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626503496187-97o5d9ki4dpeou4712al5f18lpohn0ke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_RPRjXXa86lmFsiQ7nj2jSx_yPAQV110</string>
	<key>GCM_SENDER_ID</key>
	<string>626503496187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newHeartBrasil.cordis</string>
	<key>PROJECT_ID</key>
	<string>cipherapp-8c2ee</string>
	<key>STORAGE_BUCKET</key>
	<string>cipherapp-8c2ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626503496187:ios:aea6925f495bfa0e70db5e</string>
</dict>
</plist>